<h1>Add a New Definition for $word.getWord()</h1>
<form action="/$word.getId()" method="post">
  <div class="form-group">
    <label for="newDefinition">How would you define $word.getWord()?</label>
    <input id="newDefinition" name="newDefinition" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>
<br>
<a href="/">I changed my mind</a>
