<h1>Add a New Word</h1>
<form action="/" method="post">
  <div class="form-group">
    <label for="newWord">What word would you like me to know?</label>
    <input id="newWord" name="newWord" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>
<br>
<a href="/">I changed my mind</a>
