<h1>Rosanio Dictionary</h1>
<h3>Here's a list of all the words I know!</h3>
<ul>
  #foreach($word in $words)
  <li><a href="/$word.getId()">$word</a></li>
  #end
</ul>
<a href="/addWord">Teach me a new word here</a>
