<h1>$word.getWord()</h1>
<h3>Definitions:</h3>
#if($definitions)
#foreach($definition in $definitions)
  <p>$definition.getDefinition()</p>
#end
#end
<br>
<a href="/">Return to home page</a>
<br>
<a href="/$word.getId()/addDefinition">Add a new definition</a>
<br>
<a href="/$word.getId()/clearDefinitions">Clear all definitions</a>
